h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    height: auto;
    width: auto;
    text-align: center;
    margin: 20% 10%;
    border: solid 2px;
    background-color: black;
    color: white;
}

body {
    background-color: black;
}